<template>
  <div class="test">{{ msg }}</div>
</template>

<script>
export default {
  data() {
    return {
      title: "Hola VueJS",
      user: {
        firstName: "Joe",
        lastName: "McMillan"
      },
      myHtml: "<h3>hola vue</h3>",
      showName: false,
      tasks: [
        { title: "eat" },
        { title: "dinner" },
        { title: "play" },
        { title: "taks" }
      ]
    };
  },

  methods: {
    saludar(name) {
      alert("hello " + name);
    },
    typedEnter() {
      alert("Enter");
    }
  },

  computed: {
    fullName() {
      return this.user.firstName + " " + this.user.lastName;
    }
  },

  props: {
    msg: {
      type: String,
      default: "Mensaje por defecto"
    }
  }
};
</script>

<style media="screen">
  .test{
    background-color: #eee;
  }
</style>
